.deleted_topic, .deleted_post {
	background-color: #ECECEC !important;
}

.deleted_topic .content, .deleted_post .content {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.1em !important;
}
