<!-- DEFINE $PORTALXL = 'portal' -->
<!-- INCLUDE overall_header.html -->
<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header"><dl><dt>{L_IMPRESSUM}</dt></dl></li>
		</ul>
		<ul class="topiclist forums" style="padding: 20px">
			<li>
			<div style="padding-left: 100px">
			<p>{TXT_TOP1}</p>
			<!-- IF T19 -->
			<div style="float:left; margin:10px; "><img src="{T19}" alt="" /></div>
			<!-- ENDIF -->
			<p>
			<b>{TXT_TOP3}:</b><br />
			<!-- IF T1 -->{T1}<br /><!-- ENDIF -->
			<!-- IF T2 -->{T2}<br /><!-- ENDIF -->
			<!-- IF T3 -->{T3}<br /><!-- ENDIF -->
			<!-- IF T4 -->{T4} {T8}<br /><!-- ENDIF -->
			<br />
			<!-- IF T5 --><b>{L_PHOME} :</b> {T5}<br /><!-- ENDIF -->
			<!-- IF T9 --><b>{L_MOBILE} :</b> {T9}<br /><!-- ENDIF -->
			<!-- IF T10 --><b>{L_FAX} :</b> {T10}<br /><!-- ENDIF -->
			<!-- IF T11 --><b>{L_ICQ} :</b> {T11}<br /><!-- ENDIF -->
			<!-- IF T12 --><b>{L_AIM} :</b> {T12}<br /><!-- ENDIF -->
			<!-- IF T13 --><b>{L_WLM} :</b> {T13}<br /><!-- ENDIF -->
			<!-- IF T14 --><b>{L_YIM} :</b> {T14}<br /><!-- ENDIF -->
			<!-- IF T15 --><b>{L_JABBER} :</b> {T15}<br /><!-- ENDIF -->
			<!-- IF T6 --><b>{L_EMAIL} :</b> <a href="mailto:{T6}">{T6}</a><br /><!-- ENDIF -->
			<!-- IF T16 --><b>{L_WEBSITE} :</b> {T16}<br /><!-- ENDIF -->
			<br />
			<!-- IF T17 --><b>{L_JUSTICATION} :</b> {T17}<br /><!-- ENDIF -->
			<!-- IF T18 --><b>{L_TRADE} :</b> {T18}<br /><!-- ENDIF -->
			<!-- IF T7 --><b>{L_TAXNR} :</b> {T7}<br /><!-- ENDIF -->
			</p>
			<p>{TXT_TOP2}</p>
			</div>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br />
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header"><dl><dt>{L_DISCLAIMER}</dt></dl></li>
		</ul>
		<ul class="topiclist forums" style="padding: 20px">
			<li>{TXT_DISCLAIMER}</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br />
<!-- INCLUDE overall_footer.html -->