<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
		
<table width="100%" cellspacing="0">
    <tr>
        <td align="{S_CONTENT_FLOW_BEGIN}">
            <h3>{L_ACHIEVE} -- {L_TOTAL_REACH} : {TOTAL_GOALS} / 33&nbsp;
            <a href="#" onclick="return doCollapseExpand('box{goals01}','btn{goals01}')"> 
            <img src="{T_THEME_PATH}/images/arrow_user_down.gif" alt="{L_ACHIEVE}" title="{L_ACHIEVE}" height="12" width="12" name="btn{goals01}" /></a>
            </h3>
        </td>
    </tr>
</table>
<table id="box{goals01}" style="display:none;" cellspacing="0" width="100%">
  <tr>
    <td width="100%">
                
		<table width="100%">
		<tr>
			<td width="25%">{L_40_POSTS} :</td>
			<td width="8%"><!-- IF POSTS >= 40 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_TOPIC_VIEWS_500} :</td>
			<td width="8%"><!-- IF TOTAL_TOPIC_VIEWS >= 500 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_UP_AVATAR} :</td>
			<td width="8%"><!-- IF AVATAR_IMG --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>

		</tr>
		<tr>
			<td width="25%">{L_80_POSTS} :</td>
			<td width="8%"><!-- IF POSTS >= 80 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_TOPIC_VIEWS_1000} :</td>
			<td width="8%"><!-- IF TOTAL_TOPIC_VIEWS >= 1000 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_FRIEND_5} :</td>
			<td width="8%"><!-- IF FRIENDS_COUNT >= 5 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>

		</tr>
		<tr>
			<td width="25%">{L_160_POSTS} :</td>
			<td width="8%"><!-- IF POSTS >= 160 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_TOPIC_VIEWS_10000} :</td>
			<td width="8%"><!-- IF TOTAL_TOPIC_VIEWS >= 10000 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_FRIEND_10} :</td>
			<td width="8%"><!-- IF FRIENDS_COUNT >= 10 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			
		</tr>
		<tr>
			<td width="25%">{L_240_POSTS} :</td>
			<td width="8%"><!-- IF POSTS >= 240 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_TOPIC_REPLIES_25} :</td>
			<td width="8%"><!-- IF TOTAL_TOPIC_REPLIES >= 25 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_FRIEND_20} :</td>
			<td width="8%"><!-- IF FRIENDS_COUNT >= 20 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			
		</tr>
		<tr>
			<td width="25%">{L_480_POSTS} :</td>
			<td width="8%"><!-- IF POSTS >= 480 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_TOPIC_REPLIES_50} :</td>
			<td width="8%"><!-- IF TOTAL_TOPIC_REPLIES >= 50 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_FRIEND_50} :</td>
			<td width="8%"><!-- IF FRIENDS_COUNT >= 50 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			
		</tr>
		<tr>
			<td width="25%">{L_600_POSTS} :</td>
			<td width="8%"><!-- IF POSTS >= 600 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_TOPIC_REPLIES_100} :</td>
			<td width="8%"><!-- IF TOTAL_TOPIC_REPLIES >= 100 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_JOIN_30} :</td>
			<td width="8%"><!-- IF TOTAL_DAYS >= 30 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			
		</tr>
		<tr>
			<td width="25%">{L_1000_POSTS} :</td>
			<td width="8%"><!-- IF POSTS >= 1000 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_TOPIC_REPLIES_500} :</td>
			<td width="8%"><!-- IF TOTAL_TOPIC_REPLIES >= 500 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_JOIN_60} :</td>
			<td width="8%"><!-- IF TOTAL_DAYS >= 60 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			
		</tr>
		<tr>
			<td width="25%">{L_2000_POSTS} :</td>
			<td width="8%"><!-- IF POSTS >= 2000 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_HAS_ATTACHED} :</td>
			<td width="8%"><!-- IF HAS_ATTACHED --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_JOIN_365} :</td>
			<td width="8%"><!-- IF TOTAL_DAYS >= 365 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			
		</tr>
		<tr>
			<td width="25%">{L_3000_POSTS} :</td>
			<td width="8%"><!-- IF POSTS >= 3000 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_HAS_POLL} :</td>
			<td width="8%"><!-- IF HAS_POLL --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_POST_PER_DAY_5} :</td>
			<td width="8%"><!-- IF POSTS_DAY >= 5 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
		</tr>
		<tr>
			<td width="25%">{L_CREATED_TOPIC_10}</td>
			<td width="8%"><!-- IF HAS_CREATED_TOPIC >= 10 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_VOTED_POLL} :</td>
			<td width="8%"><!-- IF HAS_VOTED_POLL --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_POST_PER_DAY_10}</td>
			<td width="8%"><!-- IF POSTS_DAY >= 10 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
		</tr>		
		<tr>
			<td width="25%">{L_CREATED_TOPIC_20}</td>
			<td width="8%"><!-- IF HAS_CREATED_TOPIC >= 20 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_CREATED_TOPIC_50}</td>
			<td width="8%"><!-- IF HAS_CREATED_TOPIC >= 50 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
			<td width="25%">{L_POST_PER_DAY_20} :</td>
			<td width="8%"><!-- IF POSTS_DAY >= 20 --><img src="{ROOTPATH}images/check.gif" alt="check" /><!-- ELSE --><img src="{ROOTPATH}images/cross.gif" alt="cross" /><!-- ENDIF --></td>
		</tr>		
				
		</table>	

        <div style="text-align: center; margin: 15px 15px;">
        <h3>{L_TROPHY}</h3>
        <!-- IF TOTAL_GOALS < 10 --> {L_NONE_YET} <!-- ENDIF -->
        <!-- IF TOTAL_GOALS >= 10 --><img src="{ROOTPATH}images/bronze.png" alt="cross" /> <!-- ENDIF -->	
        <!-- IF TOTAL_GOALS >= 20 --> <img src="{ROOTPATH}images/silver.png" alt="cross" /> <!-- ENDIF -->	
        <!-- IF TOTAL_GOALS >= 30 --> <img src="{ROOTPATH}images/gold.png" alt="cross" /> <!-- ENDIF -->	
        </div>

		<table width="100%">
		<tr>
		<td width="25%">{L_TOTAL_POST_REACH} <strong>{TOTAL_POST_GOAL}/9</strong></td>
		<td width="25%">{L_TOPIC_CREATE} <strong>{TOPIC_CREATE}/3</strong></td>
		<td width="25%">{L_TOPIC_VIEW} <strong>{TOPIC_VIEWS}/3</strong></td>
		<td width="25%">{L_TOPIC_REPLIES} <strong>{TOPIC_REPLIES}/4</strong></td>
		</tr>
			<tr>
		<td width="25%">{L_RANDOM_GOALS} <strong>{RANDOM_GOALS}/4</strong></td>
		<td width="25%">{L_FRIEND_GOALS} <strong>{FRIEND_GOALS}/4</strong></td>
		<td width="25%">{L_MEMBER_GOALS} <strong>{MEMBER_GOALS}/3</strong></td>
		<td width="25%">{L_JOIN_GOALS} <strong>{JOIN_GOALS}/3</strong></td>
		</tr>	
		</table>
        
    </td>
  </tr>	
</table>
        
	<span class="corners-bottom"><span></span></span></div>
</div>